.cadastro {
  display: flex;


.form {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  background: #fff;
  border-radius: 10px;
  width: 450px;

  h3 {
    text-align: center;
    padding: 30px;
    color: #51545E;
  }
  label{
    display: flex;
    font-family: "Inter",sans-serif;
    font-weight: 500;
    align-items: flex-start;
    margin-left: 50px;
    color: #51545E;
  }
  input {
    
    width: 350px;
    height: 40px;
    padding: 10px;
    margin: 20px 50px;
    outline-color: var(--orange);
    border: none;
    background: #fef1ff;
    color: #51545E;
    border-radius: 5px;
  }
  input::placeholder {
    font-family: "Inter", sans-serif;
  }

  .btn {
    cursor: pointer;
    margin: 20px auto 40px auto;
    font-size: 0.9em;
    font-weight: bold;
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    background: #f26122;
    color: #fff;
    border: none;
    border-radius: 10px;
  }

  .btn:hover {
    background: #c03803;
  }
}
}

@media only screen and (min-width: 768px) and (max-width: 979px){
  input {
    width: 20px;
  }
  
}

@media only screen and (max-width: 767px){

  .cadastro {
    display: flex;
  
  
  .form {
    
    width: 350px;
  
    h3 {
      font-size: 100%;
    }
    label{
      font-size: 90%;
    }
    input {
      
      width: 250px;
      
    }
    input::placeholder {
      font-family: "Inter", sans-serif;
    }
  
    .btn {
      cursor: pointer;
      margin: 20px auto 40px auto;
      font-size: 80%;
      font-weight: bold;
      width: 100px;
      height: 40px;
      text-transform: uppercase;
      background: #f26122;
      color: #fff;
      border: none;
      border-radius: 10px;
    }
  
    .btn:hover {
      background: #c03803;
    }
  }
  

  }
}