.lista {
  
  h1 {
    text-align: center;
    color: #51545E;
    font-size: 1.25em;
    margin: 50px 0 25px 0;
    margin-bottom: 20px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    
    .cards {
      display: flex;
      justify-content: center;
      
      .card{
        min-width: 410px;
        height: 200px;
        margin: 25px;
        background: #ffffff;
        box-shadow: 0px 50px 70px -20px rgba(242, 97, 34, 0.1);
        border-radius: 10px;
        

        

        .card-header {
          display: flex;

          .card-icon {
            margin: 20px;
          }
          .card-pessoainfo {
            margin-top: 20px;

            h3 {
              color: #51545E;
              margin-bottom: 10px;
              font-size: 1em;
            }
            span {
              color: #51545E;
              margin-bottom: 5px;
              font-size: 0.7em;
              font-weight: 600;
            }

            p {
              color: #51545E;
              margin-bottom: 10px;
              font-size: 0.9em;
            }
          }
        }

        .card-footer {
          display: flex;
          justify-content: flex-end;
          margin: 0 20px;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.9em;
            font-weight: bold;
            width: 150px;
            height: 40px;
            text-transform: uppercase;
            background: #f26122;
            border-radius: 10px;
          }
          a:hover{
            background: #c03803;
          }
        }
      }      
    }
  }
}


@media only screen and (min-width: 768px) and (max-width: 979px){

  .lista{
    
  ul {
    display: flex;
    justify-content: center;

    .cards{
      .card{
        min-width: 350px;
      }
    }
  }
}
}

@media only screen and (max-width: 767px){

  .lista{
    
    h1 {
      font-size: 100%;
      margin: 20px;
    }
    ul {
      display: flex;
      justify-content: center;
  
      .cards{
        .card{
          height: 205px;
          min-width: 300px;
          margin-bottom: 10px;

          .card-footer {
            
            justify-content: center;
            padding: 5px;
          }
        }
      }
    }
  }

}